/* Outfit - Títulos Roboto - Corpo */

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    border: none;
    font-family: 'Roboto',Arial, Helvetica, sans-serif;
}

:root{
    --fundo : #F8FAFC;
    --cards: #FFFFFF;
    --texto-principal: #1E293B;
    --destaque: #3B82F6;
    --bordas: #E2E8F0;
}

/* 
    Tema Dark, uso mais tarde...

    Fundo	#0F172A	Um azul quase preto (melhor que o preto puro).

    Superfície (Cards)	#1E293B	Azul marinho profundo para destacar do fundo.
    
    Texto Principal	#F1F5F9	Branco gelo para não ofuscar.

    Destaque (Acentuação)	#F472B6	Rosa vibrante para botões e detalhes.

    Bordas/Divisores	#334155	Cinza azulado para delimitar seções.
*/

html{
    scroll-behavior: smooth;
    scroll-padding-top: 100px;
}

body{
    background-color: var(--fundo);
    padding: 15px;
}

h1,h2,h3,h4{
    font-family: 'Outfit',Arial, Helvetica, sans-serif;
    color: var(--texto-principal)
}

a{
    text-decoration: none;
}



/*Configs Globais*/

/*Formatação de Add Amizades*/

#amizades{
    display: flex;
    justify-content: space-between;
}

#viewport{
    margin: 5px;
    box-shadow: 1px 0px 5px rgb(41,41,41);
    overflow: hidden;
}

#container-carrosel{
    display: flex;
    transition: transform 0.4s ease;
}

.itemCarrosel{
    margin: 10px 2px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    width: 100%;
    border: 3px solid var(--bordas);
    border-radius: 5px;
    box-shadow: 0px 1px 2px rgb(41, 41, 41);
}

.adicionar{
    margin: 5px;
    font-weight: normal;
    background-color: var(--destaque);
    color: var(--texto-principal);
    font-size: 12px;
    align-self: center;
    box-shadow: 1px 1px 4px rgb(41, 41, 41);
    transition: background-color 0.4s, color 0.4s ease;
}

.adicionar > i{
    font-size: 14px;
}

.adicionar:hover{
    background-color: var(--texto-principal);
    color: var(--fundo);
    cursor: pointer;
}

button{
    font-size: 20px;
    font-weight: bold;
    padding: 8px;
    border-radius: 5px;
    transition: background-color 0.4s ease;
}

button:hover{
    background-color: var(--destaque);
}

/*Fim */

header{
    display: flex;
    padding: 5px;
    position: sticky;
    top: 0;
    justify-content: space-between;
    background-color: var(--fundo);
    transition: background-color 0.4s ease;
    align-items: center;

}

nav > ul{
    display: flex;
    gap: 10px;
}

nav > ul > li > a{
    font-size: 20px;
    color: var(--destaque);
    transition: color 0.4s ease;
}

nav > ul > li > a > i:hover{
    color: var(--texto-principal);
}

.divPerfil{
    display: flex;
    align-items: center;
    gap: 10px;
}

.divPerfil > h4{
    font-size: 20px ;
}

.imagemPerfil{
    border-radius: 50%;
    border: 2px solid var(--destaque);
    width: 100%;
    max-width: 60px;
    height: 60px;
    overflow: hidden;
    object-fit: cover;
}

.divPerfil > p{
    font-weight: bold;
    padding-top: 5px;
    font-size: 12px;
}

.posts{
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin: 10px;
    text-align: justify;
    background-color: var(--cards);
    border: 3px solid var(--bordas);
    border-radius: 5px;
    box-shadow: 1px 1px 5px rgba(22, 22, 22, 0.808);
    
}

.comentarios{
    padding: 5px;
    margin: 5px;
    text-align: justify;
    background-color: var(--cards);
    border: 3px solid var(--bordas);
    box-shadow: 1px 1px 5px rgba(22, 22, 22, 0.808);
}


.links{
    display: inline-block;
    text-align: center;
    margin: 5px 10px;
    padding: 5px;
    color: var(--texto-principal);
    background-color: var(--destaque);
    border-radius: 5px;
    transition: color 0.4s, background-color 0.4s ease;
}

.links:hover{
    color: var(--cards);
    background-color: var(--texto-principal);
    cursor: pointer;
}

.iconInteracao{
    margin: 5px;
    padding: 5px;
    font-size: 25px;
}

.iconInteracao:hover{
    cursor: pointer;
}


/*Formatações para segunda página*/
form > div{
    display: flex;
    flex-direction: column;
}

form > div > label{
    padding: 2px;
    font-size: 0.9em;
    font-weight: bold;
}



input,textarea{
    border: 2px solid var(--bordas);
    margin: 5px;
    padding: 5px;
    border-radius: 3px;
    width: 50%;
}


input[type="submit"]{
    margin: 5px 10px;
    padding: 5px;
    color: var(--texto-principal);
    background-color: var(--destaque);
    border-radius: 5px;
    transition: color 0.4s, background-color 0.4s ease;   
}

input[type="submit"]:hover{
    color: var(--cards);
    background-color: var(--texto-principal);
    cursor: pointer;
}